<script>
    $(document).ready(function () {
        {% if site.google_scholar_stats_use_cdn %}
        var gsDataBaseUrl = 'https://cdn.jsdelivr.net/gh/{{ site.repository }}@'
        {% else %}
        var gsDataBaseUrl = 'https://raw.githubusercontent.com/{{ site.repository }}/'
        {% endif %}

        $.getJSON(gsDataBaseUrl + "google-scholar-stats/gs_data.json")
            .done(function (data) {
                var totalCitationElement = document.getElementById('total_cit');
                if (totalCitationElement && data['citedby'] !== undefined) {
                    totalCitationElement.textContent = data['citedby'];
                }
            });

    });
</script>
